/* NAVBAR */
.navbar {
    color: white;
    background-color: #6a447a;
    
    border-radius: 0px;
    height: 85px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.navbar-brand {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-top: 10px;
    height: 60px;
}

.navbar li {
    height: 85px;
    display: flex;
    align-items: center;
}

.navbar li:hover {
    color: skyblue;
}

.collasped-style {
    color: red;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.navbar-toggle {
    margin-top: 20px;
}

.navbar-toggle span {
    background-color: white;
}

/* GENERAL */
body {
    background-color: black;
}

/* SMALL SCREEN */
@media only screen and (max-width: 768px) {
    #collapsable {
        position: absolute;
        top: 83px;
        right: 0px;
        padding-left: 30px;
        padding-right: 50px;
        background-color: #6a447a
    }
}