/* VARIABLES */
:root {
    --bg-color: #fff3ea;
    --main-purple: #733d7c;
    --light-purple: #ac79b5;
    --main-blue: skyblue;
    --main-font: "Montserrat";
}

/* NAVBAR */
.navbar {
    color: white;
    background-color: var(--main-purple);
    
    border-radius: 0px;
    height: 85px;
    
    font-family: var(--main-font), sans-serif;
    font-size: 15px;
}

.navbar-brand {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-top: 10px;
    height: 60px;
}

.navbar li {
    height: 85px;
    display: flex;
    align-items: center;
}

.navbar li:hover {
    color: var(--main-blue);
}

.collasped-style {
    color: red;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.navbar-toggle {
    margin-top: 20px;
}

.navbar-toggle span {
    background-color: white;
}

/* GENERAL */
body {
    background-color: var(--bg-color);
}

#page-body {
    width: 90%;
    margin: auto;
    font-family: var(--main-font);
}

h1 {
    color: var(--main-purple);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: var(--light-purple);
    font-size: 22px;
    text-align: center;
    margin-top: 0px;
}

/* HOMEPAGE */
.home-img {
    width: 50%;
}

/* SMALL SCREEN */
@media only screen and (max-width: 768px) {
    #collapsable {
        position: absolute;
        top: 83px;
        right: 0px;
        padding-left: 30px;
        padding-right: 50px;
        background-color: var(--main-purple)
    }
}