.navbar {
    color: white;
    background-color: #6a447a;
    
    border-radius: 0px;
    height: 85px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.navbar-brand {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-top: 10px;
    height: 60px;
}

.navbar ul {
    
}

.navbar li {
    height: 85px;
    display: flex;
    align-items: center;
}

.navbar li:hover {
    color: skyblue;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
}