<div class="container-fluid" id="about-page">
    <div class="row header">
        <h1>About The Band</h1>
    </div>
    <div class="row">
        <div class="col-md-6 left">
            <p>Based in Missouri, Prune has been writing original songs and playing as a band since 1997. They've been described as “sweet domestic rock from the heart of St. Louis” and have enjoyed playing at many venues throughout the city.</p>
            <p>The band originated with members Rich Ives, Bill Schwartz, Wally Schwartz, and Jen Ives, but soon welcomed Bill Michalski, Graham Day, Joe Lange, and most recently Lexi Ives. With three guitarists and three bassists now, Prune has been doing well with rotating players for various gigs</p>
            <p>As the band has grown both older and wiser together, they've continued to write and slowly record albums while playing out from time to time. They value inclusion and try to play all-ages shows when possible.</p>
        </div>
        <div class="col-md-6 right">
            <img alt="Antique Band Pic" src="img/photos/bill_bill_rich_old.jpg" id="old-band-pic">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 left">
            <img alt="Prune Photoshoot" src="img/photos/prune_photo_shoot_2.jpg" id="band-photo">
        </div>        
        <div class="col-md-6 right" id="band-members">
            <h3>Who We Are</h3>
            <ul>
                <li>
                    <p><span>Rich Ives: </span>Keyboards, vocals</p>
                </li>
                <li>
                    <p><span>Bill Schwartz: </span>Drums, vocals</p>
                </li>
                <li>
                    <p><span>Wally Schwartz: </span>Guitar, bass, vocals</p>
                </li>
                <li>
                    <p><span>Jen Ives: </span>Bass, vocals</p>
                </li>
                <li>
                    <p><span>Bill Michalski: </span>Guitar, vocals</p>
                </li>
                <li>
                    <p><span>Graham Day: </span>Guitar</p>
                </li>
                <li>
                    <p><span>Joe Lange: </span>Bass</p>
                </li>
                <li>
                    <p><span>Lexi Ives: </span>Bass, vocals</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 left">
            <h3>Fun Facts</h3>
            <p>Most members have also been part of other bands throughout the years, including: Give Her a Lizard, Bunnygrunt, Mr. Pink Jeans, Karate Bikini, Urban Blight Players, Aquitaine, and Lucy’s Palace.</p>
            <p>Wally Schwartz is brother to twins Rich Ives and Bill Schwartz. Rich and Jen Ives were married for a good run and had a couple of kids, one of which is Lexi Ives. </p>
            <img alt="Lexi" src="img/photos/lexi.jpg" id="lexi-pic">
            <img alt="Rich's Selfie" src="img/photos/rich_selfie.jpg" id="selfie">
        </div>
        <div class="col-md-6 right">
            <img alt="Studio X" src="img/photos/bill_recording_studio.jpg" id="studio-pic">
        </div>
    </div>
</div>