<div class="container">
    <div class="row">
        <h1>Welcome to Prune-Beat!</h1>
        <h2>Sweet domestic rock from the heart of St. Louis</h2>
    </div>
    <div class="row" id="home-banner">
        <div class="home-col-portrait">
            <img alt="Crowded House Show" src="img/photos/bill_wally_rich_crowded_house.jpg" class="home-img">
        </div>
        <div class="home-col-landscape">
            <img alt="Crowded House Show" src="img/photos/prune_rftc.jpg" class="home-img">
        </div>
        <div class="home-col-portrait">
            <img alt="Crowded House Show" src="img/photos/bill_joe.jpg" class="home-img">
        </div>
    </div>
</div