<div class="container-fluid" id="music-page">
    <div class="row">
        <h1>Discography</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img alt="8 Tracks" src="img/album_covers/8_tracks.jpg" id="eight-tracks-img">
            <h3>8 Tracks For Free</h3>
            <div class="song-preview">
                <ul class="song-list">
                    <li><p>Laugh in the Tile</p></li>
                    <li><p>Dancing in the Moonlight</p></li>
                    <li><p>Eskimo Pie</p></li>
                </ul>
                <ul class="audio-list">
                    <li><audio controls controlsList="nodownload">
                        <source src="media/audio/LaughInTheTile.mp3" type="audio/mp3">
                    </audio></li>
                    <li><audio controls controlsList="nodownload">
                        <source src="media/audio/DancingInTheMoonlight.mp3" type="audio/mp3">
                    </audio></li>
                    <li><audio controls controlsList="nodownload">
                        <source src="media/audio/EskimoPie.mp3" type="audio/mp3">
                    </audio></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <img alt="Partly Sunny" src="img/album_covers/partly_sunny.jpg">
            <h3>Partly Sunny</h3>
            <div class="song-preview">
                <ul class="song-list">
                    <li><p>Rake Handle</p></li>
                    <li><p>Cover Girl</p></li>
                    <li><p>Why Do I</p></li>
                </ul>
                <ul class="audio-list">
                    <li><audio controls controlsList="nodownload">
                        <source src="media/audio/RakeHandle.mp3" type="audio/mp3">
                    </audio></li>
                    <li><audio controls controlsList="nodownload">
                        <source src="media/audio/CoverGirl.mp3" type="audio/mp3">
                    </audio></li>
                    <li><audio controls controlsList="nodownload">
                        <source src="media/audio/WhyDoI.mp3" type="audio/mp3">
                    </audio></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <img alt="Slow Cooker" src="img/album_covers/slow_cooker.jpg">
            <h3>Slow Cooker</h3>
            <div class="song-preview">
                <ul class="song-list">
                    <li><p>Roundabout</p></li>
                    <li><p>The Rain</p></li>
                    <li><p>Dark Circles</p></li>
                </ul>
                <ul class="audio-list">
                    <li><audio controls controlsList="nodownload">
                        <source src="media/audio/Roundabout.mp3" type="audio/mp3">
                    </audio></li>
                    <li><audio controls controlsList="nodownload">
                        <source src="media/audio/TheRain.mp3" type="audio/mp3">
                    </audio></li>
                    <li><audio controls controlsList="nodownload">
                        <source src="media/audio/DarkCircles.mp3" type="audio/mp3">
                    </audio></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>The albums <span>Partly Sunny</span> and <span>Slow Cooker</span> are available in CD format for $10 each, and Slow Cooker is available online for download at: <a href="https://store.cdbaby.com/cd/Prune" target="_blank">https://store.cdbaby.com/cd/Prune</a>.</p>
            <p>Beginning in 2017, Prune has been busy polishing up and writing new songs for an upcoming album. Recording has begun with their long-time friend Steve Hoover, and the album is expected to be finished in 2018. Stay tuned for a release date!</p>
        </div>
    </div>
</div>